<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>ValiImg</servlet-name>
    <servlet-class>com.itheima.web.ValiImg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.itheima.web.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.itheima.web.LogoutServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>SetMoneyServlet</servlet-name>
    <servlet-class>com.itheima.web.SetMoneyServlet</servlet-class>
  </servlet>
<servlet>
    <servlet-name>GetMoneyServlet</servlet-name>
    <servlet-class>com.itheima.web.GetMoneyServlet</servlet-class>
  </servlet>
<servlet>
    <servlet-name>TransferMoneyServlet</servlet-name>
    <servlet-class>com.itheima.web.TransferMoneyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckRealNameServlet</servlet-name>
    <servlet-class>com.itheima.web.CheckRealNameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LookAllMoneyServlet</servlet-name>
    <servlet-class>com.itheima.web.LookAllMoneyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.itheima.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiImg</servlet-name>
    <url-pattern>/servlet/ValiImg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/servlet/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetMoneyServlet</servlet-name>
    <url-pattern>/servlet/SetMoneyServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>GetMoneyServlet</servlet-name>
    <url-pattern>/servlet/GetMoneyServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>TransferMoneyServlet</servlet-name>
    <url-pattern>/servlet/TransferMoneyServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>CheckRealNameServlet</servlet-name>
    <url-pattern>/servlet/CheckRealNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LookAllMoneyServlet</servlet-name>
    <url-pattern>/servlet/LookAllMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>